[submodule "hhm-fe"]
	path = SourceCode/hhm-fe
	url = git@github.com:dustopia1203/hhm-fe.git
[submodule "hhm-be"]
	path = SourceCode/hhm-be
	url = git@github.com:dustopia1203/hhm-be.git
[submodule "solana-payment-service"]
	path = SourceCode/solana-payment-service
	url = git@github.com:dustopia1203/solana-payment-service.git
